*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212529;
}
.container{
    background-color: white;
    max-width: 100%;
    min-height: 100%;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempo h1{
    font-size: 3em;
    color: #212529;
}

button{
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    width: 100px;
    height: 40px;
    background: #212529;
    cursor: pointer;
    padding-top: 3px;
}
button img{
    width: 24px;
    height: 24px;
    text-align: center;
}
.start{
    background: #42f57e;
}
.pause{
    background: #636363;
}
.stop{
    background: #f54242;
}

